body{
    background-color: lightblue;
    height: 100vh;
     width: 100vw;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}
.total{
    display: flex;
    flex-direction: row;
    width: 700px;
}
.left{
    width: 31%;
    background-color: rgb(5, 1, 20);
    display: flex;
    flex-direction: column;
    padding:30px;
}
.left h2{
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.left p{
    color: white;
    width: 165px;
    padding: 20px;
    
}
.buttons{
    width: 80%;
    
}  
 .facebook, .twitter, .google {
    padding-bottom:  20px ; 
    padding-left: 15px; 
 }
 .face{
    height: 30px;
    width: 190px;
    border-radius: 5px;
    border: none;
    background-color: rgb(74, 74, 221);
    color: white;
    cursor: pointer;
     
 }
 .twit{
    height: 30px;
    width: 190px;
    border-radius: 5px;
    border: none;
    background-color: rgb(24, 184, 238);
    color: white;
    cursor: pointer;
 }
 .goo{
    height: 30px;
    width: 190px;
    border-radius: 5px;
    border: none;
    background-color: rgb(230, 59, 59);
    color: white;
    cursor: pointer;
 }
.right{
    width: 40%;
    background-color: rgb(248, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.heading{
    font-size: 11px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.heading p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
    
}
.heading a{
    text-decoration: none;
    color: rgb(24, 141, 187);
    
}
.email input{
    width: 250px;
    padding: 8px;
    margin-bottom: 20px;
    
}

.password input{
    width: 250px;
    padding: 8px;
}

.remember{
   padding: 15px;
    
}
.remember a{
    float: right;
    text-decoration: none;
    color: rgb(24, 141, 187);
}
.right button{
    width: 270px;
    height: 40px;
    background-color: rgb(24, 141, 187); 
    border: none;
    color: white;
    cursor: pointer;
}
